@model IEnumerable<WM.App.ViewModels.AnuncioViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Add" asp-controller="Home">Crie seu anúncio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KM)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Obs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obs)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalhes", "Detail", new { id = item.ID /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.ID /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
